<body>
  <div class="mask position-absolute top-0 w-100 h-auto z-0">
    <div class="hero mt-md-5 pt-xl-5 d-flex flex-wrap justify-content-center align-items-center">
      <h2 class="watch fade-in display-2 mt-5 pt-5 pt-lg-0 my-lg-0 ms-lg-5 ps-lg-5 text-center">
        Some of my<br />
        <span class="display-1" style="font-family: 'Orbitron', serif"
          >projects</span
        >
      </h2>
      <img
        src="../../../assets/images/portfolio-img.jpg"
        class="heroImg mt-lg-3"
        alt="PC image"
      />
    </div>

    <div class="decoration mb-5 pb-5 rounded-end-pill"></div>

    <div class="pt-5 d-flex flex-wrap justify-content-around">
      <div
        class="watch fade-in card text-white text-center m-3 mb-4 m-xl-4"
      >
        <img
          src="../../../assets/images/ng-TECH-img.png"
          class="card-img-top rounded"
          alt="Ng TECH website homepage preview"
        />
        <div class="card-body py-4 px-2">
          <h3 class="card-title mb-3">Ng TECH</h3>
          <p class="card-text mb-4">
            Ng TECH is a basic portal for tech news powered by Hacker News. It
            is realized with Angular and designed with Angular Material. More details on the Github repo.
          </p>
          <p class="card-text text-warning">Project requirements</p>
          <ul class="card-text text-start ps-4 ps-md-2 mb-5">
            <li class="mb-2">Use of Hacker News API.</li>
            <li class="mb-3">
              Displaying of the latest news, with their general info.
            </li>
            <li class="mb-3">Displaying only 10 news items at a time.</li>
            <li class="mb-3">
              Using a button (Load more), view the info of the next 10 news
              items.
            </li>
          </ul>
          <a
            href="https://ng-tech-d274a.web.app/"
            target="_blank"
            class="btn btn-outline-info w-75 mb-3"
            >Try website</a
          >
          <a
            href="https://github.com/Gio-Mex/ng-tech"
            class="btn btn-outline-warning w-75 mb-3"
            >GitHub Repo</a
          >
        </div>
      </div>
      <div
        class="watch fade-in card text-white text-center m-3 mb-4 m-xl-4"
      >
        <img
          src="../../../assets/images/look-for-a-book-img.jpeg"
          class="card-img-top rounded"
          alt="Look for a Book website homepage preview"
        />
        <div class="card-body py-4 px-2">
          <h3 class="card-title mb-3">Look for a Book</h3>
          <p class="card-text mb-4">
            Look for a Book is a book search website powered by Open Library,
            realized with JavaScript and designed with Material Design for
            Bootstrap. More details on the Github repo.
          </p>
          <p class="card-text text-warning">Project requirements</p>
          <ul class="text-start mb-5 ps-4 ps-md-2 mb-5">
            <li class="mb-2">Use of Open Library API.</li>
            <li class="mb-2">Search function.</li>
            <li class="mb-2">
              Displaying of list with the search results and respective general
              info.
            </li>
            <li>
              Possibility to consult the description of each book in the list.
            </li>
          </ul>
          <a
            href="https://gio-mex.github.io/look-for-a-book/dist/"
            target="_blank"
            class="btn btn-outline-info w-75 mb-3"
            >Try website</a
          >
          <a
            href="https://github.com/Gio-Mex/look-for-a-book"
            class="btn btn-outline-warning w-75 mb-3"
            >GitHub Repo</a
          >
        </div>
      </div>
      <div
        class="watch fade-in card text-white text-center m-3 mb-4 m-xl-4"
      >
        <img
          src="../../../assets/images/angular-social-img.jpeg"
          class="card-img-top rounded border border-light border-opacity-25"
          alt="Angular Social website homepage preview"
        />
        <div class="card-body py-4 px-2">
          <h3 class="card-title mb-3">Angular Social</h3>
          <p class="card-text mb-4">
            Angular Social is a basic simulation of a social network powered by
            Go REST. It is realized with Angular and designed with Angular
            Material. More details on the Github repo.
          </p>
          <p class="card-text text-warning">Project requirements</p>
          <ul class="card-text text-start ps-4 ps-md-2 mb-5">
            <li class="mb-3">Login function (with Go Rest Bearer Token).</li>
            <li class="mb-3">
              Viewing users with basic information. Ability to view a number of
              records of your choice and perform searches. Ability to add or
              remove a user.
            </li>
            <li class="mb-3">
              User's detail page with all the available information, list of
              posts of the displayed user and the comments relating to each
              post. Ability to add a comment to each post.
            </li>
            <li class="mb-3">
              View all posts in the system, with the possibility of carrying out
              searches. It must be possible to view comments on each post. It
              must also be possible to insert new posts.
            </li>
            <li class="mb-3">
              Implement unit tests with at least 60% coverage.
            </li>
            <li class="mb-3">
              Separate functionality into modules, downloaded in lazy loading.
            </li>
            <li class="mb-3">Logout function.</li>
          </ul>
          <a
            href="https://angular-social.netlify.app"
            target="_blank"
            class="btn btn-outline-info w-75 mb-3"
            >Try website</a
          >
          <a
            href="https://github.com/Gio-Mex/angular-social"
            class="btn btn-outline-warning w-75 mb-3"
            >GitHub Repo</a
          >
        </div>
      </div>

      <div
        class="watch fade-in card text-white text-center m-3 mb-4 m-xl-4"
      >
        <img
          src="../../../assets/images/POF-img.png"
          class="card-img-top rounded"
          alt="Plant of Food API"
        />
        <div class="card-body py-4 px-2">
          <h3 class="card-title mb-3">Planty of Food APIs</h3>
          <p class="card-text mb-4">
            This Node.js project recreates the JSON RESTful APIs for a
            hypothetical platform that manages purchasing groups for the Planty
            of Food company. Being a Node.js project, it was created in
            JavaScript with the help of the Express framework, the use of a
            MongoDB database for data storage and the Mongoose library to
            facilitate interaction with it. For unit tests, Mocha, Chai and
            Sinon were used instead. More details on the Github repo.
          </p>
          <p class="card-text text-warning">Project requirements</p>
          <ul class="card-text text-start ps-4 ps-md-2 mb-5">
            <li class="mb-3">
              Respect the REST architecture, in particular the naming, methods
              and response status codes.
            </li>
            <li class="mb-3">
              Insertion, modification and deletion of a product sold that has a
              characteristic: the name.
            </li>
            <li class="mb-3">
              Insertion, modification and deletion of a user's details with the
              following characteristics: name, surname, email.
            </li>
            <li class="mb-3">
              Insertion, modification and deletion of a sales order which
              will have the following characteristics: the products of that
              order, the users who are part of that order.
            </li>
            <li class="mb-3">
              Viewing of all orders, filtering and viewing by date of entry of the order and by the products contained in it.
            </li>
          </ul>
          <a
            href="https://github.com/Gio-Mex/planty-of-food-api"
            class="btn btn-outline-warning w-75 mb-3"
            >GitHub Repo</a
          >
        </div>
      </div>
    </div>

      <p class="fs-4 text-center mt-1 mb-5">Work in progress <fa-icon [icon]="faCircle" class="text-info" style="vertical-align: middle;" animation="fade"></fa-icon></p>

      <div class="d-flex justify-content-end">
      <i class="text-info ms-auto me-3 me-md-4 mb-3">
          <fa-icon
            [icon]="faUp"
            animation="bounce"
            size="2x"
            (click)="scrollToTop()"
          ></fa-icon
        ></i>
      </div>
    <div class="decoration mt-1 mb-4 ms-auto rounded-start-pill"></div>
  </div>
</body>
