<body class="vw-100 vh-100 position-absolute top-0">

  <div class="d-flex flex-wrap justify-content-xl-end py-5 px-2 px-md-4 p-lg-5 ">
    <div class="col-12 col-xl-2 me-xl-4 d-flex flex-column justify-content-center order-1 order-xl-0 z-1">
      <h2 class="watch fade-in-left display-1 fw-light text-center text-md-end pt-3 mt-5">Get in touch</h2>
    </div>
    <img
      src="../../../assets/images/contac-img.jpg"
      class="col-12 col-xl-9 col-xxl-8 mt-4 order-0 order-xl-1"
      alt="City image"
    />
  
    <div class="mt-5 mt-xl-4 ms-md-auto d-flex flex-wrap justify-content-center order-2">
      <div class="watch fade-in-bottom">
        <a href="mailto:giorgio.messore@live.it" class="text-white text-center p-3 mt-4 me-md-4 link-underline link-underline-opacity-0">
          <fa-icon
          [icon]="faEnvelope"
          class="icon fs-2 me-2"
          style="vertical-align: middle"
        ></fa-icon
        ><em style="vertical-align: middle">giorgio.messore&#64;live.it</em>
        </a>
        </div>
      <div class="watch fade-in-bottom mt-4 mt-md-0">
        <a href="https://www.facebook.com/GioMex19" target="_blank"><fa-icon [icon]="faFacebook" class="icon fs-2 me-4" ></fa-icon></a>
        <a href="https://www.instagram.com/giorgiomessore" target="_blank"><fa-icon [icon]="faInstagram" class="icon fs-2 mx-4"></fa-icon></a>
        <a href="https://www.linkedin.com/in/giorgio-messore/" target="_blank"><fa-icon [icon]="faLinkedin" class="icon fs-2 mx-4"></fa-icon></a>
        <a href="https://github.com/Gio-Mex" target="_blank"><fa-icon [icon]="faGithub" class="icon fs-2 ms-4"></fa-icon></a>
    </div>
      </div>
  </div>

</body>
