<body>
    <div class="hero z-0 d-flex flex-wrap justify-content-center align-items-center p-4">
    <div class="position-relative">
    <img src="../../../assets/images/giorgio-messore-img.png" class="rounded col-lg-3 m-3 m-lg-3" alt="Giorgio Messore picture">
    <div class="mask position-absolute top-0 w-100 h-100 rounded"></div>
    </div>
    <h1 class="display-1 col-12 col-md-6 col-lg-6 col-xl-5 mt-2 m-md-1 watch fade-in">Giorgio Messore</h1>
  </div>
    <div class="decoration mt-1 rounded-end-circle"></div>
    <div>
    
      <h2 class="text-center display-5 mt-5 mb-0">My story</h2>

    <div class="story fs-5 text-white p-4 p-md-3 p-lg-5 px-xl-0 mx-auto">
      <p> I will try to briefly tell you my story without boring you too much...
      </p>
      <p>
          I was born in Rome, Italy in 1985 and now I live in Sora (FR). Since I was a child I was attracted
          by
          technology, I was fascinated by automatisms, so in choosing which high school to attend, the most
          obvious decision for me was the technical institute with a specialization in computer science. I was
          thrilled by what I could create, by the automatisms and interactions triggered by simple inputs.
      </p>

      <p>Unfortunately, I already knew that after school, the family business awaited me (and it had nothing
          to do
          with computers). In order not to forget what I had learned, I started practicing on my own with my
          computer, I also developed a small management software for the family business for fun, but
          obviously my
          project could not replace a management software paid thousands of euros and that the staff
          already knew how to use. Seeing that my commitment was not appreciated and not knowing where to
          direct
          it, I stopped practicing and resigned myself to the idea that my future would lie in that company,
          until
          about eight years later when I decided to take other paths.
      </p>

          <p>
              By now what I had studied was obsolete, and in any case, even looking back
              at the books, I remembered almost nothing. It seemed to me that I had "missed the train", and I
              began to
              carry out the most disparate jobs, but inside of me I knew that I still had the
              passion and predisposition for technology, and that I was wasting time and energy on activities
              jobs
              that I didn't like and didn't reward me. Even those who know me well knew it, so they started
              encouraging me to go back to computer science.
          </p>
          <p>
              In 2023 I finally decided to upgrade with current web
              development technologies, and I chose Start2Impact University for that purpose. Today I am
              determined to
              put my knowledge at the service of others and to do what I like most.</p>
      </div>
      <div class="decoration rounded-start-circle ms-auto mt-1"></div>

      <h2 class="text-center display-5 mt-5 mb-4">Curriculum</h2>

    </div>
            <div class="text-white d-flex flex-wrap justify-content-center mt-3 mx-auto">
                <div class="col-11 col-md-8 col-lg-3 mb-md-2">
                    <ul class="watch fade-in-right list-group list-group-small m-3">
                        <li class="list-group-item list-group-item-primary text-center border-0 rounded-top px-3">
                            <strong>From 1999 to 2004</strong>
                        </li>
                        <li class="list-group-item bg-primary text-white text-center border-0">I.T.I.S. "A. Pacinotti", Fondi
                            (LT)
                        </li>
                        <li class="list-group-item bg-primary text-white border-0">
                            Diploma of computer expert
                        </li>
                    </ul>
                </div>

                <div class="col-11 col-md-8 col-lg-3 mb-md-2">
                    <ul class="watch fade-in-right curriculum list-group list-group-small m-3">
                        <li class="list-group-item list-group-item-primary text-center border-0 rounded-top px-3">
                            <strong>From 2004 to 2012</strong>
                        </li>
                        <li class="list-group-item bg-primary text-white text-center border-0">FORMIAUTO SNC</li>
                        <li class="list-group-item bg-primary text-white border-0">Order sending-receiving</li>
                        <li class="list-group-item bg-primary text-white border-0">Warehouse stock clerk</li>
                        <li class="list-group-item bg-primary text-white border-0">Retail sales and billing clerk
                        </li>
                        <li class="list-group-item bg-primary text-white border-0">Supplier / customer service</li>
                        <li class="list-group-item bg-primary text-white border-0">Secretary's office</li>
                    </ul>
                </div>

                <div class="col-11 col-md-8 col-lg-3 mb-md-2">
                    <ul class="watch fade-in-left list-group list-group-small m-3">
                        <li class="list-group-item list-group-item-primary text-center border-0 rounded-top px-3">
                            <strong>From 2012 to 2019</strong>
                        </li>
                        <li class="list-group-item bg-primary text-white text-center border-0">OTHER EXPERIENCES</li>
                        <li class="list-group-item bg-primary text-white border-0">Switchboard operator experience
                        </li>
                        <li class="list-group-item bg-primary text-white border-0">Data entry experience</li>
                        <li class="list-group-item bg-primary text-white border-0">Web advertiser / web article
                            editor
                            experience</li>
                    </ul>
                </div>

                <div class="col-11 col-md-8 col-lg-3 mb-5">
                    <ul class="watch fade-in-left list-group list-group-small m-3">
                        <li class="list-group-item list-group-item-primary text-center border-0 rounded-top px-3">
                            <strong>2023</strong>
                        </li>
                        <li class="list-group-item bg-primary text-white text-center border-0">START2IMPACT UNIVERSITY</li>
                        <li class="list-group-item bg-primary text-white border-0">Studying to become a full stack
                            developer</li>
                        <li class="list-group-item bg-primary text-white border-0">. . .</li>

                    </ul>   
                </div>
            </div>
            <div class="d-flex justify-content-end">
            <span class="text-info ms-auto me-3 me-md-4 mb-md-4 mb-3 z-1">
                <fa-icon
                  [icon]="faUp"
                  animation="bounce"
                  size="2x"
                  (click)="scrollToTop()"
                ></fa-icon
              ></span>
            </div>

</body>
