* {
  font-family: "Red Hat Text", sans-serif;
}

nav {
  background-color: #000;
}

a {
  background: linear-gradient(to bottom, #0dcaf0, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.offcanvas {
  background-color: #000;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media (min-width: 1440px) {
  * {
    font-size: 1.5rem !important;
  }
}
